.Profile {
  display: flex;
  flex-wrap: wrap;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
  margin-left: 580px;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}


@media (max-width: 600px) {
    .FormContainer {
        width: 15rem;
        margin-left: 200px;
    }
}


@media (max-width: 400px) {
    .FormContainer {
        width: 15rem;
        margin-left: 60px;
    }
}


@media (max-width: 500px) {
    .FormContainer {
        width: 15rem;
        margin-left: 85px;
    }
}


@media (max-width: 320px) {
    .FormContainer {
        width: 15rem;
        margin-left: 40px;
       
    }
}



